<!-- <h1>Products</h1>
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul> -->

{% extends 'base.html' %} {% block content %}
<h1>Products</h1>
<div class="row">
  {% for product in products %}
  <div class="col">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ product.image_url }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          <!-- Some quick example text to build on the card title and make up the
          bulk of the card's content. -->
          ${{ product.price }}
        </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

<!-- <ul>
  {% for product in products %}
  <li>{{ product.name }} (${{ product.price }})</li>
  {% endfor %}
</ul> -->
